.fontsize{
   font-size: 15px;
}
.header-background-color-white{
	background-color: #25b4d4;
    color: white;
}
.background-color-white{
    background-color:white;
}
.background-color-transparent{
    background-color:transparent;
}
.background-red-font-white{
    background:#ac2925;
    color:white
}
.table-column-width-5{
    width: 5%;
}
.table-column-width-10{
    width: 10%;
}
.table-column-width-15{
    width: 15%;
}
.table-column-width-25{
    width: 25%;
}
.table-column-width-30{
    width: 30%;
}
.table-column-width-35{
    width: 35%;
}
.table-column-width-50{
    width: 50%;
}
.padding-zero{
    padding: 0;
}
.pointer{
    cursor: pointer;
}
.margin-bottom-zero{
    margin-bottom: 0;
}
.border-zero{
    border: 0;
}
.title-row-wrap.wl-row-wrap.flexin {
	padding: 1.5rem 4rem;
	display: block;
}
.wl-title-row-details.cap-it,.title-row-wrap .rb-title.cap-it h4 {
	letter-spacing:0;
	font-size: 2rem;
	margin-bottom: 0 !important;
}
.title-row-wrap.flexin button.btn-large {
	margin-left: auto;
	line-height:1em;
	padding: 15px 25px;
}
.title-row-wrap.flexin .fa-share-alt {
	font-size: 30px;
	margin-left: 2rem;
}
.wl-wrap {padding: 4rem 10%;}
table.wl-table {
	-webkit-box-shadow: 0px 0px 3rem 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 3rem 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 3rem 0px rgba(0,0,0,0.1);
	border-left: 1px solid #e8e8e8;
}
.wl-table .table-room-title {
	font-size: 3rem;
	color: black;
	text-decoration: none;
	display: block;
	margin-bottom: .75rem;
	line-height: 1.3em;
}
table.wl-table th {border-top: none}
table.wl-table thead tr {
	border-top:none;
	text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
}
table.wl-table tr {border-bottom: 1px solid #e8e8e8;}
table.wl-table td, table.wl-table th {border-right: 1px solid #e8e8e8;}
table.wl-table thead tr {
	border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
table.wl-table thead tr th:first-child {border-left:none}
table.wl-table thead tr th:last-child {border-right:none}
table.wl-table tr td {border-left:none}


table.wl-table th,table.wl-table td {padding: 1rem 1.5rem}
table.wl-table img.wl-room-img {padding:1.5rem 1rem}
table.wl-table i.fa-2x {font-size: 18px;}
table.wl-table .btn-danger {
	box-shadow: none;
    border: none;
	background-image: none;
	background: #ac2925;
}
li.wl-acc-list.flexin {
	font-size: 12px;
	padding-left: 15px;
	margin: 0;
	list-style: disc;
}

.wl-table p {margin-bottom: 10px}
.wl-table li {font-size: 14px;line-height: 1.4em}

.wish_count {
    position: absolute;
    left: 24px;
    top: 2px;
    background-color: #8cc63e;
    padding: 0 4px;
    border-radius: 4px;
    color: #fff !important;
    font-size: 11px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    line-height: 15px;
    text-align: center;
}
.mat-dialog-container {
	padding: 3rem 4rem;
	-moz-border-radius:.75rem !important;
    -webkit-border-radius:.75rem !important;
	border-radius:.75rem !important;
}
.mat-dialog-container input {
	-moz-border-radius:3px !important;
    -webkit-border-radius:3px !important;
	border-radius:3px !important;
}

.modal-header span {font-size: 2.5rem}
.no-wishlist-row .title-col {padding: 8rem 0}
.no-wishlist-row .title-col h2.page-title {margin-bottom:2rem}

@media (max-width: 1439px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 959px) {
	.title-row-wrap.flexin button.btn-large {padding: 10px 20px;}
	table.wl-table th,table.wl-table td {padding: 5px 10px}
	table.wl-table img.wl-room-img {padding:10px 5px}
	
	table.wl-table tr td .primary-btn {font-size: 10px !important;padding: 10px 15px !important}
	table.wl-table tr td .primary-btn svg.button-icon {display: none}
}
@media (max-width: 767px) {
	.title-row-wrap.flexin button.btn-large {padding: 8px 16px;}
	.wl-wrap {padding:30px;}
	table {
		border: 0;
	}
  	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
  	table tr {
		display: block;
		margin-bottom:0;
  	}
  	table td {
		border:none;
		display: block;
		text-align: left;
  	}
	table td:last-child {
		border-bottom: 0;
	}
	table.wl-table th,table.wl-table td {padding:5px 0;border: none}
	table.wl-table img.wl-room-img {padding: 15px 0 5px}
	td.product-price {font-size: 18px;}
	table.wl-table td {margin: 0 20px !important}
	table.wl-table td:first-child {padding-top: 0}
	table.wl-table td:last-child {padding-bottom: 25px}
	.modal {padding: 0 15px} 
}

.wishlist-count{
	margin: 0px 0px -0.5rem !important;
}
.center-text{
	text-align: center;
}